<!DOCTYPE html>
<html>
  <head>
    <title>HouseHacking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles/application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/nav"%>

    <%= yield %>

    <%= render "shared/application_footer"%>
  </body>
</html>
